.pet-lover-component{
  background-color:white;
  width: 300px;
  height:300px;
  display: inline-block;
  border:solid 1px black;
  padding:0px !important;
}
.img_pet_lover{
  width: 100%;
}

.img_profile_pic{
  width:30px;
  height:30px;
  border-radius: 100%;
}
