<div class="section landing-section">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center title">Signup</h2>
      <button md-raised-button (click)="login()">
        Login
      </button>
      <button md-raised-button (click)="logout()">
        Logout
      </button>


        <a routerLink="pet-profile">
          <button routerLink="pet-profile" class="btn btn-primary btn-lg">
            Tell us more about your pet
          </button>
        </a>

      <button class="btn btn-primary btn-lg">
        Do you want to become a host
        <a routerLink="kennel-profile"></a>
      </button>


    </div>
  </div>
</div>
