<div class="section landing-section">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center title">Signup</h2>
      <div class="col-sm-3">
        <div class="form-group label-floating">
          <label class="control-label">With Floating Label</label>
          <input type="email" class="form-control">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group label-floating">
          <label class="control-label">With Floating Label</label>
          <input type="email" class="form-control">
        </div>
      </div>
      <button md-raised-button (click)="login()">
        Login
      </button>
      <button md-raised-button (click)="logout()">
        Logout
      </button>


        <a href="/pet-profile">
          <button class="btn btn-primary btn-lg">
            Tell us more about your pet
          </button>
        </a>
        <a href="/kennel-profile">
          <button class="btn btn-primary btn-lg">
            Do you want to become a host
          </button>
        </a>

    </div>
  </div>
</div>
